@charset "UTF-8";
/*Обнуление*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

body {
  overflow-x: hidden;
}

.header {
  padding-top: 24px;
  background-color: #21204a;
}

.header__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 60px;
}

.header__logo {
  width: 44;
  height: 44;
}

.header__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 70px;
  font-size: 16px;
  font-weight: 300;
  line-height: 24px;
  color: #bdcadb;
}

.header__list a {
  color: #bdcadb;
  letter-spacing: 1.4px;
}

.header__list :hover {
  font-weight: 500;
  letter-spacing: 1.1px;
}

.header__login {
  color: #bdcadb;
  font-size: 16px;
  font-weight: 500;
  padding: 12px;
  border: 2px solid #bdcadbff;
  border-radius: 10px;
}

.header__login a {
  color: #bdcadb;
}

.header__login :hover {
  color: #fff;
}

.container {
  margin-left: 120px;
  margin-right: 120px;
  margin: 0 auto;
  font-family: 'Poppins', sans-serif;
  max-width: 1200px;
}

/* background-image: linear-gradient(250deg, #0698f9 85%, #f906f9 14%);*/
/* Two PART HEADER======(content)========*/
.header__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header__description {
  max-width: 480px;
}

.title__description {
  font-size: 40px;
  font-weight: bold;
  line-height: 1.2;
  color: #f0f6ff;
  margin-bottom: 20px;
}

.text__description {
  font-size: 14px;
  line-height: 1.57;
  color: #bdcadb;
  margin-bottom: 48px;
}

.btn__description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 192px;
  max-height: 48px;
  background-image: linear-gradient(250deg, #0698f9, #f906f9);
  border-radius: 12px;
}

.btn__text {
  padding: 12px 24px;
  font-size: 18px;
  font-weight: 500;
  line-height: 1.33;
  text-align: center;
  color: #fff;
}

.btn__img {
  background-color: #fafcff;
  padding: 4px;
  border-radius: 10px;
}

/*PART TWO===========================*/
.header__example {
  margin-left: 250px;
  opacity: 1;
  width: 250px;
  height: 408px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-transform: rotate(30.75deg) skew(-10deg);
          transform: rotate(30.75deg) skew(-10deg);
  background-image: linear-gradient(250deg, #0698f9, #f906f9);
  border-radius: 12px;
  position: relative;
  z-index: 9;
}

.header__example::after {
  content: "";
  opacity: 1;
  display: block;
  position: absolute;
  bottom: -4px;
  right: -5px;
  width: 250px;
  height: 408px;
  background-image: -webkit-gradient(linear, right top, left top, from(#14a1ff), to(#f53df5));
  background-image: linear-gradient(to left, #14a1ff, #f53df5);
  border-radius: 12px;
  -webkit-filter: blur(2px);
          filter: blur(2px);
  z-index: -1;
  -webkit-box-shadow: 2px 2px 2px 2px black;
          box-shadow: 2px 2px 2px 2px black;
}

.img__box img {
  border-radius: 10px;
  padding: 10px;
  width: 250px;
  height: 220px;
}

.text__box {
  position: relative;
  margin-top: 50px;
  margin-left: -50px;
  color: #bdcadb;
  text-shadow: 0 20px 40px rgba(0, 0, 0, 0.2);
  z-index: 2;
}

.text__box::after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 250px;
  height: 130px;
  border-radius: 10px;
  background-image: -webkit-gradient(linear, right top, left top, from(#14a1ff), to(#f53df5));
  background-image: linear-gradient(to left, #14a1ff, #f53df5);
  opacity: 0.7;
  z-index: -1;
  -webkit-box-shadow: 2px 2px 2px 2px black;
          box-shadow: 2px 2px 2px 2px black;
}

.collections {
  margin-left: 10px;
  color: #bdcadb;
  padding-bottom: 10px;
}

.names {
  margin-left: 10px;
  color: #f0f6ff;
  padding-bottom: 10px;
}

.price__flex {
  margin-left: 10px;
  margin-right: 70px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
}

.inner {
  padding: 15px 0px;
  color: #fff;
  font-size: 18px;
}

.offer {
  position: relative;
}

.offer::after {
  content: "";
  position: absolute;
  display: block;
}

.logo {
  position: relative;
}

.logo__one {
  position: absolute;
  display: block;
  top: 50px;
  left: -250px;
}

.logo__two {
  position: absolute;
  display: block;
  top: -200px;
  left: 300px;
}

.logo__three {
  position: absolute;
  display: block;
  top: 70px;
  left: 500px;
}

/* ===============carousel=========== */
/*================= Sliders bar====================*/
.sliders {
  font-family: 'Poppins', sans-serif;
}

.sliders__container {
  max-width: 1200px;
  margin: 0 auto;
}

.sliders__bar {
  margin-top: 150px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.sliders__bar--left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #fff;
}

.sliders__bar--left p {
  padding-right: 24px;
  font-size: 35px;
  font-weight: 600;
  background-image: -webkit-gradient(linear, right top, left top, from(#14a1ff), to(#f53df5));
  background-image: linear-gradient(to left, #14a1ff, #f53df5);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.sliders__button--left {
  width: 144px;
  height: 48px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 12px;
  background-color: #cde2fe;
  color: #476285;
}

.sliders__button--left img {
  padding-left: 10px;
}

.sliders__bar--right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
}

.sliders__button--right {
  border-radius: 12px;
  border: solid 2px #6692cc;
  height: 44px;
  width: 100px;
  color: #6692cc;
}

/*fking sliders*/
.sliders__content {
  margin: 10px 10px;
  background-color: #eff1f3;
  border-radius: 20px;
  overflow: hidden;
  width: 250px;
  height: 500px;
  padding: 16px;
}

.sliders__content img {
  max-height: 100%;
  max-width: 100%;
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.sliders__content .img-slider {
  width: 250px;
  height: 288px;
  margin-bottom: 16px;
}

.sliders__names {
  margin-bottom: 12px;
}

.sliders__names span {
  font-size: 12px;
  line-height: 1.33;
  color: #6e84ab;
}

.sliders__names p {
  font-size: 18px;
  font-weight: 600;
  line-height: 1.33;
  color: #21204a;
}

.sliders__info {
  padding-bottom: 22px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 12px;
  line-height: 1.33;
  color: #6e84ab;
}

.sliders__info .bright {
  padding: 2px 0px;
  font-size: 16px;
  font-weight: 600;
  line-height: 1.5;
  color: #11315b;
}

.sliders__like {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.user__name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 12px;
  line-height: 1.33;
  color: #6e84ab;
}

.user__name p {
  padding-left: 8px;
}

.user__like {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 12px;
  line-height: 1.33;
  color: #6e84ab;
}

.user__like p {
  padding-left: 8px;
}

.slider-items {
  padding-bottom: 100px;
}

/* Слайдер */
/* Слайдер запущен */
/* Слайдер с точками */
/* Ограничивающая оболочка */
.slick-list {
  overflow: hidden;
}

/* Лента слайдов */
.slick-track {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

/* Слайд */
/* Слайд активный (показывается) */
/* Слайд основной */
/* Слайд по центру */
/* Клонированный слайд */
/* Стрелка не активная */
/* Точки (булиты) */
.slick-dots {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.slick-dots li {
  list-style: none;
  margin: 0px 10px;
}

/* Активная точка */
.slick-dots li.slick-active button {
  background-color: transparent;
  border: 1px solid #f906f9;
}

/* Элемент точки */
.slick-dots li button {
  font-size: 0;
  width: 10px;
  height: 10px;
  background-color: #f906f9;
  border-radius: 50%;
}

/*arrows*/
.slider-items {
  position: relative;
}

/* Стрелка */
/* Стрелка */
.slick-arrow {
  position: absolute;
  z-index: 10;
  top: 50%;
  font-size: 0;
  width: 50px;
  height: 50px;
}

/* Стрелка влево */
.slick-prev {
  background: url("/IMG/icons/BTNleftNEW.png") 0 0 no-repeat;
  left: -55px;
}

/* Стрелка вправо */
.slick-next {
  background: url("/IMG/icons/BTNright.png") 0 0 no-repeat;
  right: -55px;
}

/*=====================SECTION ART==============*/
.art {
  max-width: 1200px;
  margin: 0 auto;
  font-family: 'Poppins', sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.art__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.art__box {
  padding: 16px;
  width: 280px;
  height: 344px;
  border-radius: 20px;
  -webkit-box-shadow: 0px 0px 20px #c9d6ec;
          box-shadow: 0px 0px 20px #c9d6ec;
}

.art__box span {
  font-size: 14px;
  line-height: 1.57;
  text-align: left;
  color: #6e84ab;
}

.art__awkward--flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.art__awkward--flex p {
  font-size: 16px;
  font-weight: 600;
  line-height: 1.5;
  color: #21204a;
  margin-right: 10px;
  padding: 2px 0px;
}

.art__box-first {
  margin-top: 72px;
  margin-right: 44px;
}

.art__text-btn {
  margin-left: 72px;
}

.art__title {
  font-size: 32px;
  font-weight: 600;
  line-height: 1.5;
  color: #21204a;
}

.art__text {
  font-size: 16px;
  line-height: 1.5;
  text-align: left;
  color: #64609f;
  margin: 16px 0px 32px 0px;
}

.art__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.art__button-colors {
  color: #fff;
  background-image: -webkit-gradient(linear, right top, left top, from(#14a1ff), to(#f53df5));
  background-image: linear-gradient(to left, #14a1ff, #f53df5);
  width: 170px;
  height: 50px;
  border-radius: 15px;
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 1.2px;
}

.art__button {
  margin-left: 20px;
  width: 170px;
  height: 50px;
  border: 5px solid #14a1ff;
  border-radius: 15px;
  border: double 5px transparent;
  background-image: -webkit-gradient(linear, left top, left bottom, from(white), to(white)), -webkit-gradient(linear, right top, left top, from(#14a1ff), to(#f53df5));
  background-image: linear-gradient(white, white), linear-gradient(to left, #14a1ff, #f53df5);
  background-origin: border-box;
  background-clip: content-box, border-box;
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 1.2px;
  color: #f906f9;
}
