@import "_zero.scss";
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&display=swap');


.header {
    padding-top: 24px;
    background-color: #21204a;

    &__nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-bottom: 60px;
    }

    &__logo {
        width: 44;
        height: 44;
    }

    &__list {
        display: flex;
        justify-content: space-between;
        gap: 70px;


        font-size: 16px;
        font-weight: 300;
        line-height: 24px;

        color: #bdcadb;

        a {
            color: #bdcadb;
            letter-spacing: 1.4px;
        }


        :hover{
            font-weight: 500;
            letter-spacing: 1.1px;
        }
    }

    &__login {
        color: #bdcadb;
        font-size: 16px;
        font-weight: 500;


        padding: 12px;
        border: 2px solid #bdcadbff;
        border-radius: 10px;


        a {
            color: #bdcadb;
        }
        
        :hover{
            color: #fff;
        }
    }

}
.container {
    margin: 0 auto;
    font-family: 'Poppins', sans-serif;
    max-width: 1440px;
    padding-left: 120px;
    padding-right: 120px;
}
/* background-image: linear-gradient(250deg, #0698f9 85%, #f906f9 14%);*/


/* Two PART HEADER======(content)========*/

.header {

    &__content {
    }

    &__description {
    }

    &__example {
    }
}
.title {

    &__description {
    }
}
.text {

    &__description {
    }

    &__box {
    }
}
.btn {

    &__description {
    }

    &__text {
    }

    &__img {
    }
}
.img {

    &__box {
    }
}
.name {

    &__collection {
    }
}
.collections {
}
.names {
}
.price {

    &__flex {
    }
}
.inner {
}
.offer {
}
























