@import "_zero.scss";
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&display=swap');


.header {
    padding-top: 24px;
    background-color: #21204a;

    &__nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-bottom: 60px;
    }

    &__logo {
        width: 44;
        height: 44;
    }

    &__list {
        display: flex;
        justify-content: space-between;
        gap: 70px;


        font-size: 16px;
        font-weight: 300;
        line-height: 24px;

        color: #bdcadb;

        a {
            color: #bdcadb;
            letter-spacing: 1.4px;
        }


        :hover{
            font-weight: 500;
            letter-spacing: 1.1px;
        }
    }

    &__login {
        color: #bdcadb;
        font-size: 16px;
        font-weight: 500;


        padding: 12px;
        border: 2px solid #bdcadbff;
        border-radius: 10px;


        a {
            color: #bdcadb;
        }
        
        :hover{
            color: #fff;
        }
    }

}
.container {
    margin: 0 auto;
    font-family: 'Poppins', sans-serif;
    max-width: 1440px;
    padding-left: 120px;
    padding-right: 120px;
}
/* background-image: linear-gradient(250deg, #0698f9 85%, #f906f9 14%);*/


/* Two PART HEADER======(content)========*/

.header {
    overflow: hidden;

    &__content {
        display: flex;
    }

    &__description {
        max-width: 480px;
    }

    &__example {
    }
}
.title {

    &__description {
        font-size: 40px;
        font-weight: bold;

        line-height: 1.2;
        color: #f0f6ff;

        margin-bottom: 20px;
    }
}
.text {

    &__description {
        font-size: 14px;
        line-height: 1.57;
        color: #bdcadb;
        margin-bottom: 48px;
    }


}

.btn {

    &__description {
        display: flex;
        align-items: center;
        max-width: 192px;
        max-height: 48px;

        background-image: linear-gradient(250deg, #0698f9 , #f906f9 );
        border-radius: 12px;
    }

    &__text {
        padding: 12px 24px;

        font-size: 18px;
        font-weight: 500;
        line-height: 1.33;

        text-align: center;
        color: #fff;
    }

    &__img {
        background-color: #fafcff;
        padding: 4px;
        border-radius: 10px;

    }
}

/*PART TWO===========================*/
.header{

    &__example{


        margin-left: 250px;
        opacity: 1;

        width: 250px;
        height: 408px;

        display: flex;
        flex-direction: column;


        transform: rotate(30.75deg) skew(-10deg);



        background-image: linear-gradient(250deg, #0698f9 , #f906f9 );
        border-radius: 12px;

        position: relative;
        z-index: 9;

    }
    &__example::after{
        content: "";
        opacity: 1;
        display: block;
        position: absolute;
        bottom: -4px;
        right: -5px;
        width: 250px;
        height: 408px;
        background-image: linear-gradient(to left, #14a1ff , #f53df5 );
        border-radius: 12px;
        filter: blur(2px);
        z-index: -1;
        box-shadow: 2px 2px 2px 2px black;
    }


}

.img {

    &__box img{
        border-radius: 10px;
        padding:10px;
        width: 250px;
        height: 220px;

      }

    }




.text{
    &__box{
        position: relative;
        margin-top: 50px;
        margin-left: -50px;
        color:#bdcadb;
        text-shadow: 0 20px 40px rgba(0, 0, 0, 0.2);
        z-index: 2;
    }

    &__box::after{
        content: "";
        display: block;
        position: absolute;
        top:0;
        left: 0;
        width: 250px;
        height: 130px;

        border-radius: 10px;
        background-image: linear-gradient(to left, #14a1ff , #f53df5 );
        opacity: 0.7;
        z-index: -1;
        box-shadow: 2px 2px 2px 2px black;
    }
}
.name {

    &__collection {
    }
}
.collections {
    margin-left: 10px;

    color: #bdcadb;
    padding-bottom: 10px;
}
.names {
    margin-left: 10px;

    color: #f0f6ff;
    padding-bottom: 10px;

}


.price {

    &__flex {
        margin-left: 10px;
        margin-right: 70px;
        justify-content: space-between;
        display: flex;
        gap: 10px;
    }
}
.inner {
    padding: 15px 0px;
    color: #fff;
    font-size: 18px;
}
.offer {
    position: relative;
}
.offer::after {
    content: "";
    position: absolute;
    display: block;
}

.logo {
    position: relative;

    &__img {
    }

    &__one {
        position: absolute;
        display: block;
        top: 50px;
        left: -250px
    }

    &__two {
        position: absolute;
        display: block;
        top: -200px;
        left: 300px
    }

    &__three {
        position: absolute;
        display: block;
        top: 50px;
        left: 400px
    }
}

























